<div class="form-container">
  <label for="color">Kolor:</label>
  <input type="text" id="color" [(ngModel)]="color" />

  <label for="background-color">Kolor tła:</label>
  <input type="text" id="background-color" [(ngModel)]="backgroundColor" />

  <label for="border">Obramowanie:</label>
  <input type="text" id="border" [(ngModel)]="border" />

  <label for="box-shadow">Cień:</label>
  <input type="text" id="box-shadow" [(ngModel)]="boxShadow" />

  <div class="preview" [style.color]="color" [style.background-color]="backgroundColor" [style.border]="border" [style.box-shadow]="boxShadow">
    Przykładowy div
  </div>

  <label for="button-text">Tekst przycisku:</label>
  <input type="text" id="button-text" [(ngModel)]="buttonText" />

  <button [style.color]="color" [style.background-color]="backgroundColor" [style.border]="border" [style.box-shadow]="boxShadow">
    {{ buttonText }}
  </button>

  <label for="input-placeholder">Placeholder inputu:</label>
  <input type="text" id="input-placeholder" [(ngModel)]="inputPlaceholder" />

  <input [style.color]="color" [style.background-color]="backgroundColor" [style.border]="border" [style.box-shadow]="boxShadow" [placeholder]="inputPlaceholder" />
</div>

<div class="css-container">
  <h2>Wygenerowane style CSS:</h2>
  <pre>
    <code>
        color: {{color}};
        background-color: {{backgroundColor}};
        border: {{border}};
        box-shadow: {{boxShadow}};
      
    </code>
  </pre>
</div>
